.category {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
  }
  .category-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    cursor: pointer;
  }
  .category-item img {
    width: 80px;
    height: 80px;
    transition: all ease 0.3s;
  }
  .category-item img:hover {
    transform: rotate(40deg);
  }
  .category-title {
    font-size: 1.4rem;
    color: var(--text-color);
    text-align: center;
    margin-top: 6px;
  }
  .product-list {
    margin: 30px 0 60px 0;
  }
  .product-list .product-item + .product-item {
    margin-top: 30px;
  }
  .btn-top {
    width: 38px;
    height: 38px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background-color: var(--primary-color);
    position: fixed;
    bottom: 20px;
    right: 10px;
    animation: showBtnTop linear 0.2s;
    display: none;
  }
  .btn-top:hover {
    filter: brightness(1.2);
    cursor: pointer;
  }
  .btn-top.active {
    display: block;
  }
  @keyframes showBtnTop {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  