.wrapper {
    position: relative;
    margin-right: 9px;
    padding: 3px;
    cursor: pointer;
  }
  .total {
    background-color: var(--primary-color);
    border-radius: 50%;
    color: #fff;
    font-size: 1.2rem;
    padding: 2px 6px;
    position: absolute;
    top: -5px;
    right: -7px;
    display: block;
  }
  .cart-inner {
    width: 340px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 15px;
    position: relative;
    border-radius: 3px;
    animation: showCart linear 0.3s;
  }
  .cart-inner::before {
    content: "";
    position: absolute;
    border-width: 13px 13px 10px 13px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    top: -23px;
    right: 10px;
  }
  @keyframes showCart {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .cart-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .no-cart-img {
    width: 100px;
    height: 100px;
  }
  .cart-title {
    margin-top: 13px;
    font-size: 1.5rem;
    display: block;
  }
  .cart-list {
    max-height: 300px;
    overflow-y: scroll;
    padding: 15px;
  }
  .cart-list::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
  }
  .cart-list::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .cart-list::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  .cart-item {
    display: flex;
    padding: 10px 15px 10px 0;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
  }
  .img {
    width: 74px;
    height: 74px;
    object-fit: cover;
  }
  .infos {
    flex: 1;
  }
  .name {
    width: 220px;
    font-size: 1.3rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .quantity-and-price {
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .quantity {
    font-size: 1.2rem;
  }
  .price {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--primary-color);
  }
  .remove {
    font-size: 1.3rem;
    display: inline-block;
    margin-top: 10px;
    float: right;
    cursor: pointer;
  }
  .cart-total-price {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0 15px;
  }
  .total-price-text {
    font-size: 1.5rem;
  }
  .total-price {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: bold;
  }
  .view-cart-btn {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 40px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }
  .view-cart-btn:hover {
    filter: brightness(95%);
  }
  