.wrapper {
    margin: 30px 0;
  }
  .inner {
    display: flex;
    justify-content: space-between;
  }
  .content-left {
    display: flex;
  }
  .img {
    width: 355px;
    height: 355px;
    object-fit: contain;
  }
  .infos {
    width: 525px;
  }
  .name {
    font-size: 1.8rem;
    color: #323c42;
    font-weight: bold;
  }
  .status {
    font-size: 1.4rem;
    color: #323c42;
    margin-top: 15px;
    display: block;
  }
  .status span {
    font-weight: 600;
  }
  .price {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--primary-color);
    display: block;
    margin-top: 10px;
  }
  .quantity {
    display: flex;
    margin-top: 20px;
  }
  .increase, .decrease {
    width: 35px;
    height: 35px;
    font-weight: 500;
    height: 35px;
    color: var(--primary-color);
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all ease 0.2s;
  }
  .increase:hover, .decrease:hover {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
  }
  .increase {
    border-left: none;
  }
  .decrease {
    border-right: none;
  }
  .number {
    font-size: 2rem;
    font-weight: bold;
    width: 70px;
    height: 35px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 35px;
    display: block;
  }
  .actions {
    margin-top: 20px;
  }
  .add-to-cart {
    width: 300px;
    height: 54px;
    color: #fff;
    background-color: var(--primary-color);
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.2s;
  }
  .add-to-cart:hover {
    color: var(--primary-color);
    background-color: #fff;
    border: 1px solid var(--primary-color);
  }
  .buy {
    width: 195px;
    height: 54px;
    font-size: 1.5rem;
    background-color: #0fa80f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.2s;
    margin-left: 10px;
  }
  .buy:hover {
    background-color: #fff;
    border: 1px solid #ffb416;
    color: #ffb416;
  }
  .policy-top, .policy-bottom {
    width: 278px;
    border: 1px solid #e1e1e1;
  }
  .policy-top-text, .policy-bottom-text {
    background: #f7f7f7;
    color: #111;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px 20px;
    border-bottom: 1px solid #e1e1e1;
    display: block;
  }
  .policy-top-list, .policy-bottom-list {
    list-style: none;
    padding: 5px 0;
  }
  .policy-top-item, .policy-bottom-item {
    font-size: 1.4rem;
    color: #111;
    padding: 5px 0 5px 25px;
    position: relative;
  }
  .policy-top-item::before, .policy-bottom-item::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #0fa80f;
    position: absolute;
    border-radius: 50%;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  .policy-bottom {
    margin-top: 20px;
  }
  .description {
    width: 100%;
    margin-top: 30px;
  }
  .description-text {
    width: 82px;
    height: 40px;
    font-size: 1.6rem;
    line-height: 40px;
    font-weight: bold;
    background-color: #ffb416;
    text-align: center;
    color: #fff;
    display: block;
  }
  .description-inner {
    border: solid 1px #ebebeb;
    padding: 15px;
  }
  .content {
    height: 450px;
    overflow: hidden;
  }
  .content.isMore {
    height: 100%;
    overflow: visible;
  }
  .content-header {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 24px;
  }
  .content-img {
    width: 60%;
    object-fit: cover;
    display: flex;
    margin: 15px auto;
  }
  .content-title {
    margin-top: 15px;
    font-size: 2.8rem;
    color: #323c42;
  }
  .content-paragrap {
    font-size: 1.5rem;
    color: #323c42;
    line-height: 2.3rem;
    margin-top: 10px;
  }
  .desc-more, .desc-less {
    width: 120px;
    height: 35px;
    font-size: 1.4rem;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 3px;
    cursor: pointer;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .desc-more:hover, .desc-less:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
  